body{
    background-color:rgb(13, 39, 63);
    padding: 50px 100px;


}
h1{
    text-align: center;
    color: white;
}
#container{
    text-align: center;
    background: lightblue;
   
    padding: 50px;
    border: 2px;
    border-color: black;
    margin: 25px;

}
.input{
    display: inline-block;
}
.inp{
    padding: 5px 10px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    width: 250px;
    text-align: center;
}
label{
    font-size: 22px;
}